@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/**
    Main Clock
**/
.main-clock {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle {
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: #22e122;
    transition: opacity 1s ease, box-shadow 1s ease;
}

.disappear {
    background-color:  transparent;
}

.group1 {
    padding-right: 0.75%;
}

.group2 {
    padding-left: 0.75%;
    margin-right: 50px;
}

/**
    Clocks
**/
#dec-clock {
    opacity: 0.6;
    transition: opacity 2s ease;
}

#hex-clock {
    text-transform: uppercase;
    opacity: 0.6;
    transition: opacity 2s ease;
}

#bin-clock {
    opacity: 0.6;
    transition: opacity 2s ease;
}

.clock {
    padding-top: 20px;
    color: #22e122;
    font-family: 'Share Tech Mono', monospace;
    font-size: 68px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}